<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--用于监控的进程全路径 多个以英文逗号分隔-->
    <add key="Processlist" value="D:\3D Boby Scanner/3D Body Scanner.exe" />
    <!-- 用于监控的服务名 多个以英文逗号分隔-->
    <add key="DataZip" value="HQWebMonitor" />
    <!--检测间隔等待时间 秒-->
    <add key="WaitSeconds" value="10" />
    <!-- 用于指定上传到服务器的log路径-->
    <add key="OutputLogPath" value="D:\3D Boby Scanner/3D Body Scanner_Data/output_log.txt" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>